                                            *{
    padding: 0;
    margin: 0;
}
/*header*/

header{
background: lunear-gradient(rgb(28, 100, 255));
padding-top: 15px;
}

.cabecalho{
    position: 
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    color:rgb(255, 0, 0);
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

#logo:hover{

transition:1s;
transform: scale(1.1);
}

nav{
    position: absolute;
    top:110px
    right:0;
}


nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-size: 30px; text-decoration: none;
}

body{
    backgroumd-color: #f0f0f0;

}

p{
    margin-left: 20px;
    font-size: 25px;
    text-align: justify;
}

h2,h3{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
iframe{
    margin-left: 500px;
}
li{
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 25px;
}